@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
 
 background: #192116;
 color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}

.curved-edge {
  --c: 70px; /* curvature size */
  width: 250px;
  height: 250px;
  background: #40C0CB;

  /* Inner curves on all 4 sides */
  -webkit-mask: 
    radial-gradient(60% var(--c) at 0% 0, #0000 98%, #000) top center,
    radial-gradient(60% var(--c) at 50% 100%, #0000 98%, #000) bottom center,
    radial-gradient(var(--c) 60% at 0 50%, #0000 98%, #000) left center,
    radial-gradient(var(--c) 60% at 100% 50%, #0000 98%, #000) right center;
  -webkit-mask-size: 100% var(--c), 100% var(--c), var(--c) 100%, var(--c) 100%;
  -webkit-mask-repeat: no-repeat;

  mask: 
    radial-gradient(20% var(--c) at 0 0, #0000 98%, #000) top center,
    radial-gradient(0% var(--c) at , #0000 98%, #000) bottom center,
    radial-gradient(var(--c) 0% at 0 50%, #0000 98%, #000) left center,
    radial-gradient(var(--c) 0% at 100% 50%, #0000 98%, #000) right center;
  mask-size: 100% var(--c), 100% var(--c), var(--c) 100%, var(--c) 100%;
  mask-repeat: no-repeat;
}
